.banner {
  &-text {
    grid-column: col-start 5 / full-end;
    background-color: #101d2c;
    padding: 0px 8rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &__title {
      margin-bottom: 3rem;
    }
    p {
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 113%; /* 18.08px */
      color: white;
      text-align-last: left;
      margin-bottom: 4rem;
    }
  }
  &-img {
    // grid-column: col-start 5 / full-end;
    grid-column: full-start / col-end 4;
    position: relative;
    background: url("../img/Rectangle\ 5.png");

    &__image {
      width: 70%;
      position: absolute;

      aspect-ratio: 16 /9;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &_1 {
        top: 15%;
        left: 50%;
        // transform: translate(-50%, -50%);
        transform: translateX(-50%);
      }
      &_2 {
        top: 38%;
        right: -6%;
        // transform: translateX(-50%);
      }
    }
  }
}
