$color-green-dark: #425844;
$color-green-light: #61a568;

$color-blue-dark: #101d2c;

$color-gray-dark: #aaaaaa;
$color-gray-light: #f5f5f5;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
