$color-green-dark: #425844;
$color-green-light: #61a568;

$color-blue-dark: #101d2c;

$color-gray-dark: #aaaaaa;
$color-gray-light: #f5f5f5;

$bp1: 1100px;
$bp2: 992px;
$bp3: 768px;
$bp4: 576px;
$bp4: 400px;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @media (max-width: $bp1) {
    font-size: 55%;
  }

  @media (max-width: $bp3) {
    font-size: 45%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  display: grid;
  // grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-rows: 50px 80vh min-content 40vw repeat(3, min-content);

  grid-template-columns:
    [full-start] minmax(15px, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(15px, 1fr) [full-end];

  @media (min-width: $bp1) {
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);

    grid-template-columns:
      [sidebar-start] 8rem [sidebar-end full-start] minmax(15px, 1fr)
      [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end] minmax(15px, 1fr) [full-end];
  }

  @media (max-width: $bp3) {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 60vh min-content 1fr 80vw repeat(3, min-content);
  }

  // grid-template-columns:
  //   [sidebar-start] 8rem [sidebar-end full-start] auto
  //   [center-start] repeat(8, [col-start] minmax(min-content, 16rem) [col-end])
  //   [center-end] auto [full-end];
}

.burger-checkbox {
  position: absolute;
  display: none;
}
.burger {
  position: relative;
  z-index: 101;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}
.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  // цвет бургера *******************************************************************************************************************
  background: #000;
}
.burger::before {
  top: 0;
  // цвет бургера *******************************************************************************************************************

  box-shadow: 0 11px 0 #000;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}
.burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}
.menu-list {
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  gap: 12px;
  padding: 42px 0;
  margin: 0;
  // цвет меню *******************************************************************************************************************

  background: orange;
  list-style-type: none;
  transform: translateX(-100%);
  transition: 0.3s;
  width: 200px;

  @media (max-width: $bp3) {
    height: 100%;
    width: 100%;
    z-index: 100;
  }
}
.menu-item {
  display: block;
  padding: 8px;
  color: white;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
.menu-item:hover {
  background: rgba(255, 255, 255, 0.2);
}
.burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}
