.features {
  grid-column: center-start / center-end;
  padding: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 38rem);
  row-gap: 6.4rem;
  column-gap: 4rem;
  justify-content: center;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  // grid-template-areas: "icon title" "icon descr";
  grid-template-rows: min-content;
  column-gap: 2.5rem;
  justify-items: start;
  align-items: start;
  row-gap: 1.5rem;
  // align-items: start;
  color: $color-green-dark;

  &__icon {
    width: 4.5rem;
    height: 4.5rem;
    // grid-area: "icon";
    grid-row: 1 / span 2;

    & svg {
      transform: translateY(-25%);
    }
  }
  &__title {
    // grid-area: "title";
    font-size: 1.9rem;
    font-weight: 700;
  }
  &__description {
    // grid-area: "descr";
    font-size: 1.6rem;
    font-weight: 400;
  }
}
