.gamers {
  grid-column: col-end 6 / full-end;
  background-color: #101d2c;
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-auto-rows: min-content;
  align-items: center;
  gap: 4rem 2rem;
  align-content: center;
  padding: 0px 4rem;

  @media (max-width: $bp1) {
    padding: 0px 1.5rem;
  }

  @media (max-width: $bp3) {
    grid-column: 1 / -1;
    grid-auto-flow: column;
    grid-auto-columns: 70px 1fr;
  }

  &__title {
    grid-column: 1/-1;
    text-align: center;
  }
  &__icon {
    position: relative;
    border-radius: 50%;
    padding-bottom: 100%;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__text {
    font-weight: 700;
    //font-size: 1.9rem;
    color: white;
  }
  &__score {
    display: block;
    font-size: 1.6rem;
    font-weight: 300;
    color: #aaaaaa;
  }
}

// .player {
//   display: grid;
//   grid-template-columns: 70px 1fr;
//   grid-auto-rows: minmax(70px, min-content);
//   column-gap: 3rem;
//   margin-bottom: 5rem;
//   align-items: center;

//   &__icon {
//     position: relative;
//     border-radius: 50%;
//     padding-bottom: 100%;
//     overflow: hidden;
//     img {
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//     }
//   }

//   &__text {
//     font-weight: 700;
//     font-size: 1.9rem;
//     color: white;
//   }
//   &__score {
//     display: block;
//     font-size: 1.6rem;
//     font-weight: 300;
//     color: #aaaaaa;
//   }
// }
