.header {
  grid-column: full-start / col-end 6;
  background-color: $color-blue-dark;
  background-image: url("../img/head_logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem 0px;

  display: grid;

  grid-template-rows: min-content 1fr min-content;

  @media (max-width: $bp3) {
    grid-column: 1 / -1;
  }
  &__logo {
    text-align: center;
    svg {
      width: 120px;
      height: 41px;
    }
  }

  &__body {
    //flex: 1 1 auto;
    padding: 0px 4rem 0px 6rem;
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    display: grid;
    align-content: center;
    //row-gap: 1rem;
  }
  &__title {
    margin-bottom: 3rem;
  }

  &__button {
    justify-self: start;
  }
  &__footer {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2.3rem;

    &-line {
      grid-column: 1/ -1;
      color: #aaaaaa;
      font-weight: 700;
      font-size: 1.6rem;
      display: flex;
      align-items: center;
      padding: 0 7.7rem;

      p {
        padding: 0 2rem;
      }
      span {
        background-color: #aaa;
        height: 1px;
        flex: 1 1 auto;
        display: inline-block;
      }
    }

    &-logo {
      max-height: 3rem;

      width: 100%;
    }
  }
}
