.title-1 {
  color: white;
  font-size: 4.5rem;
  font-weight: 700;
}
.title-2 {
  color: $color-gray-light;
  font-size: 4rem;
  font-size: 1.9rem;
  font-weight: 300;
  &--spacing {
    letter-spacing: 2.47px;
  }
}
.title-3 {
}
